--- 
http_interactions: 
- request: 
    method: get
    uri: http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl
    body: 
      encoding: UTF-8
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 15 Aug 2013 20:49:00 GMT
      Content-Type: 
      - application/wsdl+xml
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        
        <!--   **********************************************************************   
                                                                                   
               ndfdXML.wsdl   
        
               John L. Schattel          MDL                4 July 2007  
               Aniesha L. Alford
               Red Hat Linux                                Apache Server  
           
               SOURCE CODE CONTROL INFORMATION   
        
               Name:  
                 %PM%  
                 %PID%  
        
               Status:  
                 %PS%   
        
               History:  
                 %PL%                                                             
        
               Change Document History:                                            
                 %PIRC%                                                           
        
              *************************************************************************   -->
        
        <definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
                     xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                     xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
                     xmlns:si="http://soapinterop.org/xsd" 
                     xmlns:tns="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl" 
                     xmlns:typens="http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd" 
                     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                     xmlns="http://schemas.xmlsoap.org/wsdl/" 
                     targetNamespace="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl">
        <types>
         <xsd:schema targetNamespace="http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
        
         <xsd:simpleType name="sectorType">
          <xsd:restriction base='xsd:string'>
           <xsd:enumeration value='conus'/>
           <xsd:enumeration value='nhemi'/>
           <xsd:enumeration value='alaska'/>
           <xsd:enumeration value='guam'/>
           <xsd:enumeration value='hawaii'/>
           <xsd:enumeration value='puertori'/>
           <xsd:enumeration value='npacocn'/>
          </xsd:restriction>
         </xsd:simpleType>
        
         <xsd:simpleType name="unitType">
          <xsd:restriction base='xsd:string'>
           <xsd:enumeration value='e'/>
           <xsd:enumeration value='m'/>
          </xsd:restriction>
         </xsd:simpleType>
        
         <xsd:simpleType name="formatType">
          <xsd:restriction base='xsd:string'>
           <xsd:enumeration value='24 hourly'/>
           <xsd:enumeration value='12 hourly'/>
          </xsd:restriction>
         </xsd:simpleType>
        
         <xsd:simpleType name="productType">
          <xsd:restriction base='xsd:string'>
           <xsd:enumeration value='time-series'/>
           <xsd:enumeration value='glance'/>
          </xsd:restriction>
         </xsd:simpleType>
        
         <xsd:simpleType name="latLonPairType">
          <xsd:restriction base='xsd:string'>
           <xsd:pattern value="[\-]?\d{1,2}\.\d+,[\-]?\d{1,3}\.\d+" />
          </xsd:restriction>
         </xsd:simpleType>
        
         <xsd:simpleType name="listLatLonType">
          <xsd:restriction base='xsd:string'>
           <xsd:pattern value="[\-]?\d{1,2}\.\d+,[\-]?\d{1,3}\.\d+( [\-]?\d{1,2}\.\d+,[\-]?\d{1,3}\.\d+)*" />
          </xsd:restriction>
         </xsd:simpleType>
        
         <xsd:simpleType name="zipCodeType">
          <xsd:restriction base='xsd:string'>
           <xsd:pattern valu[...]
- request: 
    method: post
    uri: http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php
    body: 
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://graphical.weather.gov/xml/DWMLgen/schema/DWML.xsd"><env:Body><tns:NDFDgenByDay><latitude>37.1962</latitude><longitude>-93.2861</longitude><startDate>2014-02-26</startDate><numDays>7</numDays><unit>e</unit><format>24 hourly</format></tns:NDFDgenByDay></env:Body></env:Envelope>
    headers: 
      Soapaction: 
      - "\"http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl#NDFDgenByDay\""
      Content-Type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Soap-Server: 
      - NuSOAP/0.9.5 (1.123)
      Content-Type: 
      - text/xml; charset=ISO-8859-1
    body: 
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="ISO-8859-1"?><SOAP-ENV:Envelope SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:NDFDgenByDayResponse xmlns:ns1="http://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl"><dwmlByDayOut xsi:type="xsd:string">&lt;?xml version=&quot;1.0&quot;?&gt;
        &lt;dwml version=&quot;1.0&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:noNamespaceSchemaLocation=&quot;http://www.nws.noaa.gov/forecasts/xml/DWMLgen/schema/DWML.xsd&quot;&gt;
          &lt;head&gt;
            &lt;product srsName=&quot;WGS 1984&quot; concise-name=&quot;dwmlByDay&quot; operational-mode=&quot;official&quot;&gt;
              &lt;t[...]
